@font-face {
  font-family: 'icon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") 
        format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") 
        format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") 
        format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") 
        format("svg");
}


/* Style for custom cursor */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.cursorClick {
  animation: cursorAnimation .5s forwards;
  border: 5px solid rgba(0, 0, 0, 0.8);
  opacity: 0.2
}

@keyframes cursorAnimation {
  0% {
    transform: scale(.5)
  }
  50% {
    transform: scale(1)
  }
  100% {
    transform: scale(.5);
    opacity: 0
  }
}


/* Style for PL logo at the left top */
img {
    border: 0;
    height: 40px;
    width: 55px;
    float: left;
    margin-left: 20px;
    cursor: none;
}

/* Style for body */
body {
  font-family: 'Inconsolata', monospace;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  background: #fafafa;
  color: gray; 
  margin: 0
}

/* Style for hyperlinks */
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
  text-decoration: none
}

p {
  margin-bottom: 1.5em;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
  float: right;

}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Major Mono Display', monospace;
  margin: 0 0 0 0;
  line-height: 1.3;
}

#page {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); 
}

header {
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto
}


/* Style for 'Phuong Le' text logo */
header .navbar .logo {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center; 
  text-decoration: none;
  float: left;
  margin-top: 6px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.logo:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  left: -2.5px
}

.logo:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
}

/* Style for 'Resume' text logo */
header .navbar .resume {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center; 
  text-decoration: none;
  float: right;
  margin-top: 6px;
  margin-right: 20px;
  position: relative;
  cursor: none;
}

.resume:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  left: -2.5px
}

.resume:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* Style for 'GitHub' text logo */
header .navbar .github {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center; 
  text-decoration: none;
  float: right;
  margin-top: 6px;
  margin-right: 50px;
  position: relative;
  cursor: none;
}

.github:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  left: -2.5px
}

.github:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hero-flex {
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap
}

.image_container {
  width: 55%;
  z-index: -1;
  float: left;
  position: relative;
}

.hero-img {
  border-radius: 0 80px 80px 0;
}

.col-one-forth {
  width: 45%;
  float: right;
  position: relative; 
  cursor: none;
}
    
.display-t {
  display: table;
  width: 100%
}

/* Style for Content */
.display-tc {
  display: table-cell;
  vertical-align: center; 
  padding: 6em 0 0 8em
}

/* Style for Page Number */
.number {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 150px;
  text-align: left;
  color: #eceae5;
  font-weight: 100; 
  transform: rotate(90deg)
}

.text-inner {
  display: block;
  width: 100%;
  margin-left: -5em; 
}

/* Style for Page titles */
.text-inner h2 {
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 2px; 
}


/* Style for Page subtitles */
.tag {
  font-size: 50px; 
  color: #eceae5;
  font-family: 'Major Mono Display', monospace;
  letter-spacing: 15px;
  margin-left: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
}

/* Style for page description */
.desc {
  padding-right: 3em;
  padding-bottom: 12px;
  position: relative; 
  float: right;
}

      
/* Style for link-to-outside-sources buttons */
.btn-view {
  font-size: 10px;
  letter-spacing: 7px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #eceae5;
  text-transform: uppercase;
  border: 1px dashed rgba(0, 0, 0, 0.8);
  padding: 8px;
  text-decoration: none; 
  border-radius: 5px;
  cursor: pointer
}

.btn-view:hover {
  border: 1px dashed rgba(0, 0, 0, 0.8);
  background: #b7ae9b;
}

  
/* Style for control bar (left and right page buttons) */
.owl-controls {
    position: absolute;
    bottom: 25px;
    left: 55.5%;
    cursor: pointer   
}

.owl-nav [class*=owl-] {
  padding: 8px 30px;
  display: inline;
}

.owl-nav .owl-next i {
  border-radius: 0 7px 7px 0
}

.owl-nav .owl-prev i {
  border-radius: 7px 0 0 7px
}
    
.owl-nav [class*=owl-] i {
  background: #eceae5;
  border: 1px dashed rgba(0, 0, 0, 0.8);
  position: absolute;
}
  
.owl-nav [class*=owl-]:hover i {
  background: #b7ae9b;
}
  
.owl-next, .owl-prev {
  margin: 8.5px; 
}

.owl-nav .owl-next i,
.owl-nav .owl-prev i {
  font-size: 16px;
  color: #000;
  background: transparent
}


/* Style for Photo  */
.hero-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative
}

/* Style for date and location of projects */
#date {
  font-size: 12px
}

/* Style for Footer */
footer {
  float: right;
}


/* Style for icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon';
}

.icon-arrow-left3:before {
  content: "\e90f";
  float: left;
}

.icon-arrow-right3:before {
  content: "\e911";
  float: right;
}


/* Create style for Animation */
@keyframes pageTransition {
  0% {
    opacity: 0;
    transform: none
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
}


/* Style for .owl-carousel */
.transition{
  -webkit-animation-name: pageTransition;
  animation-name: pageTransition
}

.animated{
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}

.owl-carousel{
  display: none;
}

.owl-stage-outer{
  overflow: hidden;
}

.owl-carousel.owl-loaded{
  display: block
}

.owl-item{
  position: relative;
  min-height: 1px;
  float: left;
}


/* Responsive Versions*/
@media screen and (max-width: 950px) {
  .tag {
    font-size: 40px
  }
  .number {
    font-size: 100px
  }
  .text-inner h2 {
    font-size: 35px
  }
  #date {
    display: none
  }
}

@media screen and (max-width: 850px) {
  .tag {
    font-size: 30px
  }
  .number {
    font-size: 100px
  }
  .text-inner h2 {
    font-size: 35px
  }
  #date {
    display: none
  }
}


@media screen and (max-width: 768px) {
  .tag {
    font-size: 20px
  }
  #page {
    padding-top: 5em
  } 
  header {
    padding: 2em 0; 
  } 
  .btn-view {
    letter-spacing: 2px; 
  } 
  .number {
    display: none; 
  } 
  .text-inner h2 {
    font-size: 24px; 
  }
  .desc {
    padding: 1em;
    background: #fff;
    width: 100%; 
  } 
  .owl-controls {
    left: 600px; 
  } 
  #date {
    display: none
  }
}

@media screen and (max-width: 650px) {
  header .navbar .resume  {
    display: none;
  }

  header .navbar .github  {
    display: none
  }
  .owl-controls {
    left: 450px; 
  }
  .display-tc {
    padding: 0 0 0 0
  }
}

@media screen and (max-width: 480px) {
  .desc {
    padding: 1em;
    background: #fff;
    width: 140%; 
  } 
  header .navbar .resume  {
    display: none;
  }

  header .navbar .github  {
    display: none
  }
  #date {
    display: none
  }
  .owl-controls {
    left: 250px; 
  }
}

@media screen and (max-width: 410px) {
  .desc {
    padding: 1em;
    background: #fff;
    width: 130%; 
  } 
  header .navbar .resume  {
    display: none;
  }

  header .navbar .github  {
    display: none
  }
  #date {
    display: none
  }
  .owl-controls {
    left: 250px; 
  }
  #description {
    font-size: 12px
  }
}

@media screen and (max-width: 375px) {
  .desc {
    padding: 1em;
    background: #fff;
    width: 130%; 
  } 
  
  header .navbar .logo  {
    margin-right: 10px;
  }

  header .navbar .resume  {
    display: none;
  }

  header .navbar .github  {
    display: none
  }

  #date {
    display: none
  }
  .owl-controls {
    left: 250px; 
  }
  #description {
    font-size: 12px
  }
}

